<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>Questions to consider</string>
        <string>What to do once you&apos;re saved</string>
        <string>Running your race</string>
        <string>For the maturing christian</string>
    </array>
</plist>
