<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>And he said to them, “Go into all the world and proclaim the gospel to the whole creation.</string>
	<string>Go therefore and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, teaching them to observe all that I have commanded you. And behold, I am with you always, to the end of the age.”</string>
	<string>For “everyone who calls on the name of the Lord will be saved.” How then will they call on him in whom they have not believed? And how are they to believe in him of whom they have never heard? And how are they to hear without someone preaching? And how are they to preach unless they are sent? As it is written, “How beautiful are the feet of those who preach the good news!”</string>
	<string>But you will receive power when the Holy Spirit has come upon you, and you will be my witnesses in Jerusalem and in all Judea and Samaria, and to the end of the earth.”</string>
	<string>And I heard the voice of the Lord saying, “Whom shall I send, and who will go for us?” Then I said, “Here am I! Send me.”</string>
	<string>For I am not ashamed of the gospel, for it is the power of God for salvation to everyone who believes…</string>
	<string>And he said to them, “Go into all the world and proclaim the gospel to the whole creation.&quot;</string>
	<string>Then he said to his disciples, “The harvest is plentiful, but the laborers are few; therefore pray earnestly to the Lord of the harvest to send out laborers into his harvest.”</string>
	<string>For the Son of Man came to seek and to save the lost.</string>
	<string>Do your best to present yourself to God as one approved, a worker who has no need to be ashamed, rightly handling the word of truth.</string>
	<string>For the wages of sin is death, but the free gift of God is eternal life in Christ Jesus our Lord.</string>
	<string>Whoever is not with me is against me, and whoever does not gather with me scatters.</string>
	<string>And I tell you, everyone who acknowledges me before men, the Son of Man also will acknowledge before the angels of God,</string>
	<string>For by grace you have been saved through faith. And this is not your own doing; it is the gift of God, not a result of works, so that no one may boast.</string>
	<string>For Christ did not send me to baptize but to preach the gospel, and not with words of eloquent wisdom, lest the cross of Christ be emptied of its power.</string>
	<string>And Jesus came and said to them, “All authority in heaven and on earth has been given to me. Go therefore and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, teaching them to observe all that I have commanded you. And behold, I am with you always, to the end of the age.”</string>
	<string>“Turn to me and be saved, all the ends of the earth! For I am God, and there is no other.</string>
	<string>The fruit of the righteous is a tree of life, and whoever captures souls is wise.</string>
	<string>Be imitators of me, as I am of Christ. Now I commend you because you remember me in everything and maintain the traditions even as I delivered them to you.</string>
	<string>And proclaim as you go, saying, ‘The kingdom of heaven is at hand.’ Heal the sick, raise the dead, cleanse lepers, cast out demons. You received without paying; give without pay.</string>
	<string>For we are his workmanship, created in Christ Jesus for good works, which God prepared beforehand, that we should walk in them.</string>
	<string>As for you, always be sober-minded, endure suffering, do the work of an evangelist, fulfill your ministry.</string>
	<string>But God shows his love for us in that while we were still sinners, Christ died for us.</string>
	<string>Jesus said to him, “I am the way, and the truth, and the life. No one comes to the Father except through me.&quot;</string>
	<string>The saying is trustworthy, for: If we have died with him, we will also live with him; if we endure, we will also reign with him; if we deny him, he also will deny us;</string>
	<string>And are justified by his grace as a gift, through the redemption that is in Christ Jesus,</string>
	<string>To this he called you through our gospel, so that you may obtain the glory of our Lord Jesus Christ. So then, brothers, stand firm and hold to the traditions that you were taught by us, either by our spoken word or by our letter.</string>
	<string>Now those who were scattered went about preaching the word. Philip went down to the city of Samaria and proclaimed to them the Christ. And the crowds with one accord paid attention to what was being said by Philip when they heard him and saw the signs that he did. For unclean spirits, crying out with a loud voice, came out of many who had them, and many who were paralyzed or lame were healed. So there was much joy in that city...</string>
	<string>And my tongue will talk of your righteous help all the day long, for they have been put to shame and disappointed who sought to do me hurt.</string>
	<string>Through whom we have received grace and apostleship to bring about the obedience of faith for the sake of his name among all the nations, including you who are called to belong to Jesus Christ,</string>
	<string>For when I preach the gospel, I cannot boast, since I am compelled to preach. Woe to me if I do not preach the gospel! If I preach voluntarily, I have a reward; if not voluntarily, I am simply discharging the trust committed to me. What then is my reward? Just this: that in preaching the gospel I may offer it free of charge, and so not make full use of my rights as a preacher of the gospel.</string>
	<string> “Come, follow me,” Jesus said, “and I will send you out to fish for people.”</string>
	<string>If you declare with your mouth, “Jesus is Lord,” and believe in your heart that God raised him from the dead, you will be saved.</string>
	<string>The fruit of the righteous is a tree of life, And he who wins souls is wise.</string>
	<string>You are the light of the world. A town built on a hill cannot be hidden. Neither do people light a lamp and put it under a bowl. Instead they put it on its stand, and it gives light to everyone in the house. In the same way, let your light shine before others, that they may see your good deeds and glorify your Father in heaven.</string>
	<string>Then the righteous will answer him, “Lord, when did we see you hungry and feed you, or thirsty and give you something to drink? When did we see you a stranger and invite you in, or needing clothes and clothe you? When did we see you sick or in prison and go to visit you?” The kind will reply, “Truly I tell you, whatever you did for one of the least of these brothers and sisters of mine, you did for me.”</string>
	<string>for, “Everyone who calls on the name of the Lord will be saved.”</string>
</array>
</plist>
