<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>How to use tracts</string>
	<string>Salvation</string>
	<string>The Gospel</string>
	<string>El Evangelio</string>
	<string>The Gospel 2</string>
	<string>El Evangelio 2</string>
	<string>What Really Counts?</string>
	<string>What Really Counts? FR</string>
	<string>The truth about Mary</string>
	<string>The truth about Mary SP</string>
	<string>Four Things</string>
	<string>Four Things SP</string>
	<string>Four Things FR</string>
	<string>Nominal Christian</string>
	<string>The Test</string>
</array>
</plist>
