<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Mark 16:15</string>
	<string>Matthew 28:19-20</string>
	<string>Romans 10:13-17</string>
	<string>Acts 1:8</string>
	<string>Isaiah 6:8</string>
	<string>Romans 1:16</string>
	<string>Mark 16:15</string>
	<string>Matthew 9:37-38</string>
	<string>Luke 19:10</string>
	<string>2 Timothy 2:15</string>
	<string>Romans 6:23</string>
	<string>Matthew 12:30</string>
	<string>Luke 12:8</string>
	<string>Ephesians 2:8-9</string>
	<string>1 Corinthians 1:17</string>
	<string>Matthew 28:18-20</string>
	<string>Isaiah 45:22</string>
	<string>Proverbs 11:30</string>
	<string>1 Corinthians 11:1-2</string>
	<string>Matthew 10:7-8</string>
	<string>Ephesians 2:10</string>
	<string>2 Timothy 4:5</string>
	<string>Romans 5:8</string>
	<string>John 14:6</string>
	<string>2 Timothy 2:11-12</string>
	<string>Romans 3:24</string>
	<string>2 Thessalonians 2:14-15</string>
	<string>Acts 8:4-25</string>
	<string>Psalm 71:24</string>
	<string>Romans 1:5-6</string>
	<string>1 Corinthians 9:16-18</string>
	<string>Mark 1:17</string>
	<string>Romans 10:9</string>
	<string>Proverbs 11:30</string>
	<string>Matthew 5:14-16</string>
	<string>Matthew 25:37-40</string>
	<string>Romans 10:13</string>
</array>
</plist>
